<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block header_styles %} {% endblock %}
    {% block header_links %} {% endblock %}
    {% block header_title %}<title></title> {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav>
            <a href="/main">Главная</a>
            <a href="/news">Новости</a>
            <a href="/students">Студенты</a>
            <a href="/employers">Работодатели</a>
            <a href="/workplaces">Практика</a>
            {% if isAuth %}
            <a href="/cabinet">Личный кабинет</a>
            <a href="/logout">Выйти</a>
            {% else %}
            <a href="/register">Регистрация</a>
            <a href="/auth">Авторизация</a>
            {% endif %}
        </nav>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %} {% endblock %}
</body>
</html>